rel_path not used

RFC2616 changed the ABNF for http_URL so that it doesn't use rel_path (as defined in RFC2396) anymore.

However, that definition is still "adopted" in section 3.2.1;
            
  URIs in HTTP can be represented in absolute form or relative to some known base URI [11](../commit/11), depending upon the context of their use. The two forms are differentiated by the fact that absolute URIs always begin with a scheme name followed by a colon. For definitive information on URL syntax and semantics, see "Uniform Resource Identifiers (URI): Generic Syntax and Semantics," RFC 2396 [42](../commit/42) (which replaces RFCs 1738 [4](../commit/4) and RFC 1808 [11](../commit/11)). This specification adopts the definitions of "URI-reference", "absoluteURI", "relativeURI", "port", "host","abs_path", "rel_path", and "authority" from that specification."
        
...and used in section 13.9.p.2:
                
  "We note one exception to this rule: since some applications have traditionally used GETs and HEADs with query URLs (those containing a "?" in the rel_path part) to perform operations with significant side effects, caches MUST NOT treat responses to such URIs as fresh unless the server provides an explicit expiration time. This specifically means that responses from HTTP/1.0 servers for such URIs SHOULD NOT be taken from a cache. See Section 9.1.1 for related information."





_Reported by @mnot, migrated from https://trac.ietf.org/trac/httpbis/ticket/82_
