handling of unknown disposition types

3.2.  Disposition Type

   Other disposition types SHOULD be handled the same way as
   "attachment" (see also [RFC2183], Section 2.8).

Shouldn't that read "Unknown disposition types"?
or to be verbosely explicit "Unknown or unhandled disposition types"?

Seems odd to block future extensions like this. RFC2183 also speaks
about unknown disposition types, not other.




_Reported by julian.reschke@gmx.de, migrated from https://trac.ietf.org/trac/httpbis/ticket/242_
