Encoding References Normative

Classify RFC1950 (ZLIB), RFC1951 (DEFLATE) and RFC1952 (GZIP) as normative (note this disagrees with draft-gettys-http-v11-spec-rev-00 which made it informative).



_Reported by @mnot, migrated from https://trac.ietf.org/trac/httpbis/ticket/68_
