Case-sensitivity of HTTP-date

RFC 2616, Section 3.3.1 is ambiguous with respect to *parsing* requirements for HTTP dates.

It says:

"HTTP-date is case sensitive and MUST NOT include additional LWS beyond that specifically included as SP in the grammar."

but then also points out:

"Note: Recipients of date values are encouraged to be robust in accepting date values that may have been sent by non-HTTP applications, as is sometimes the case when retrieving or posting messages via proxies/gateways to SMTP or NNTP."

Brian Smith points out that the dates are case-insensitive in SMPT and NNTP.

"...are encouraged..." isn't using BCP 14 terminology. So is this a SHOULD-level requirement? A MAY?

If it is a SHOULD, HTTPbis will need to rephrase the statement about case-insensitivity, and adjust the ABNF which in the meanwhile uses case-sensitive day and month names.



_Reported by julian.reschke@gmx.de, migrated from https://trac.ietf.org/trac/httpbis/ticket/165_
