outdated references

RFC1738: [PROPOSED STANDARD] obsoleted by RFC4248 RFC4266

RFC4366: [PROPOSED STANDARD] obsoleted by RFC5246 RFC6066

draft-agl-tls-nextprotoneg-01: Alternate version available: 04




_Reported by julian.reschke@gmx.de, migrated from https://trac.ietf.org/trac/httpbis/ticket/400_
