inconsistency in date format explanation

<p>In Section 3.3.1, RFC2616 says:</p>
                
            <p>"The second format is in common use, but is based on the obsolete RFC 850 [12](../commit/12) date format and lacks a four-digit year."</p>
                
            <p>However, [12](../commit/12) refers to RFC1036, which obsoletes RFC850.</p>




_Reported by @mnot, migrated from https://trac.ietf.org/trac/httpbis/ticket/47_
