Do not require "updates" relation for specs that register status codes or method names

In Part 2 we currently state for both:

"Any document registering new method names should be traceable through statuses of either 'Obsoletes' or 'Updates' to this document."

I think we inherited that from RFC2817, Section 7.1. 
(<http://tools.ietf.org/html/rfc2817#section-7.1>)

IMHO this doesn't make sense; the "updates" relation shouldn't be used just because a specification uses a well-defined extension point that already has a registry.

Proposal: remove the requirement from sections 2.1 (method names) and 4.1 (status codes).




_Reported by julian.reschke@gmx.de, migrated from https://trac.ietf.org/trac/httpbis/ticket/170_
