"modification-date" *is* implemented in Konq 4.5

"Section 2 of [RFC2183] defines several additional disposition parameters: "creation-date", "modification-date", "quoted-date-time", and "size". These do not appear to be implemented by any user agent, thus have been omitted from this specification."

However, Konqueror 4.5 *does* support "modification-date".

(reported by Rolf Eike Beer)



_Reported by julian.reschke@gmx.de, migrated from https://trac.ietf.org/trac/httpbis/ticket/252_
