Unneeded references

RFC1866 and RFC2069 aren't mentioned anywhere in the spec. These references probably are leftovers from revising RFC2068.



_Reported by @mnot, migrated from https://trac.ietf.org/trac/httpbis/ticket/44_
