update note citing RFC 1945 and 2068

Part2 notes about status 302:

"Note: [RFC1945] and [RFC2068] specify that the client is not allowed to change the method on the redirected request. However, most existing user agent implementations treat 302 as if it were a 303 response, performing a GET on the Location field-value regardless of the original request method. The status codes 303 and 307 have been added for servers that wish to make unambiguously clear which kind of reaction is expected of the client."

This needs to be rephrased in terms of RFC2616 instead of RFC2068 (I think).



_Reported by julian.reschke@gmx.de, migrated from https://trac.ietf.org/trac/httpbis/ticket/140_
