add OAuth auth scheme to initial registry contents

"I note that the OAuth authentication scheme is not listed. "OAuth" is 
defined in RFC 5849, section 3.5.1.

See http://tools.ietf.org/html/rfc5849#section-3.5.1 for a full 
description of the authentication scheme."



_Reported by julian.reschke@gmx.de, migrated from https://trac.ietf.org/trac/httpbis/ticket/382_
