Understanding Content-* on non-PUT requests

RFC2616 Section 9.6 (PUT) places the following requirement on PUT recipients:

  The recipient of the entity MUST NOT ignore any Content-*
  (e.g. Content-Range) headers that it does not understand or implement
  and MUST return a 501 (Not Implemented) response in such cases.

Does this advice apply to other request methods than PUT? E.g., POST? Should it apply to all requests with bodies?



_Reported by @mnot, migrated from https://trac.ietf.org/trac/httpbis/ticket/102_
