Description of CONNECT should refer to RFC2817

P2, Section 8.9 ("CONNECT") should probably also point to RFC2817, Section 5.



_Reported by julian.reschke@gmx.de, migrated from https://trac.ietf.org/trac/httpbis/ticket/119_
