bogus 2068 Date header reference

Part 4, Section 4.1:

"If a clockless origin server obeys these rules, and proxies and clients add their own Date to any response received without one (as already specified by [RFC2068], Section 14.19), caches will operate correctly."

RFC2068, Section 14.19 is the definition of the Date header. Why does RFC2616 refer to RFC2068 instead to itself?

Proposal to reference Part 1, Sexction 8.3 instead.



_Reported by julian.reschke@gmx.de, migrated from https://trac.ietf.org/trac/httpbis/ticket/126_
