consider removing the "changes from 2068" sections

As the individual parts progress, it's getting harder to maintain this information (paragraphs move or are removed completely).

It would be much simpler to either drop these paragraphs (they are present in 2616, after all), or by just replacing them with a reference to RFC 2616, Section 19.6.3).




_Reported by julian.reschke@gmx.de, migrated from https://trac.ietf.org/trac/httpbis/ticket/220_
